.grid {
  .section-1 {
    padding: 0 6rem;
    // background-color: red;
  }
  .features {
    display: grid;
    margin: 7rem auto 7rem auto;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
  }
  .feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-gap: 1.5rem 2.5rem;

    align-items: start;

    &__icon {
      fill: $color-primary;
      width: 4.5rem;
      height: 4.5rem;
      grid-row: 1 / span 2;
      transform: translateY(-1rem);
    }
    &__text {
      font-size: 1.7rem;
      grid-column: 2/-1;
    }
  }
}
